alert dns any any -> any any (msg:"DNS query for suricata.io"; dns.query; content:"suricata.io"; sid:1;)
alert tcp any any -> any any (msg:"Payload content match on suricata.io"; content:"suricata.io"; sid:2;)
alert dns any any -> any any (msg:"DNS query for other sites"; dns.query; content:"random.site"; sid:3;)
alert tcp any any -> any any (msg:"Payload content match on other sites"; content:"random.site"; sid:4;)